@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
  }
@mixin keyframes ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }
  
    @-moz-keyframes #{$animation_name} {
        @content;
    }
  
    @-o-keyframes #{$animation_name} {
        @content;
    }
  
    @keyframes #{$animation_name} {
        @content;
    }
  }

